body {
  background: url("../images/holiday-background.png");
}

#greeting-text-container,
#music-text-container {
  padding: 15px;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 15px;
}

.greeting-text {
  padding-right: 20px;
  padding-left: 20px;
}

#home-text {
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

h4,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Lobster", cursive;
}

@media only screen and (max-width: 480px) {
  #greeting-text,
  #music-text {
    padding: 0;
  }
}
