body {
  background: url("../images/holiday-background.png");
}

#greeting-text,
#music-text {
  padding: 15px;
  margin-top: 8%;
  margin-bottom: 8%;
}

#home-text {
  padding-left: 10%;
  padding-right: 10%;
}
